# dbt generated directories
target/
dbt_packages/
logs/

# Virtual environment
dbt_env/
*.venv/
venv/
env/

# IDE files
.idea/
.vscode/
*.iml

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# OS specific files
.DS_Store
Thumbs.db

# Local dbt profile
.dbt/profiles.yml


Assignment.md
dbt_implementation_guide.md

package-lock.yml
packages.yml
